.contact{
    display: flex;
    /* align-items: center;
    justify-content: center; */
    width: 98vw;
    height: 100vh;
    background: url(./images/Mask\ Group.png) repeat ;
    background-color: grey;
    background-blend-mode: multiply;
    
}
.contactSub{
    display: flex;
    margin: auto;
    column-gap: 3rem;
    margin-top: 5rem;
    align-items: center;

}
.opening{
    color: var(--DCCA87, #DCCA87);
font-variant-numeric: lining-nums tabular-nums;

/* H5 23px Cormorant Upright */
font-family: 'Cormorant Upright';
font-size: 0.9rem;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 1.86875rem */
letter-spacing: 0.0575rem;
text-transform: capitalize;
margin-bottom: 0.5rem;
}
.times{
    color: var(--FFFFFF, #FFF);

/* Body 16px Regular */
font-family: 'Open Sans';
font-size: 0.8rem;
font-style: normal;
font-weight: 250;
line-height: 190%; /* 1.75rem */
letter-spacing: 0.04rem;
}
.contact img{
    height: 33rem;
    width: 32rem;
}
.contact .about2{
    width: 22rem;
    margin-bottom: 0rem;
    margin-top: 1.5rem;
}
.contact button{
    color: var(--0C0C0C, #0C0C0C);

/* Button */
font-family: Cormorant Upright;
font-size: 0.8rem;
font-style: normal;
font-weight: 600;
line-height: 175%; /* 1.75rem */
letter-spacing: 0.04rem;
background: var(--DCCA87, #DCCA87);
display: flex;
padding: 0.3rem 1.5rem;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 4rem;
}
@media screen and (max-width: 576px){
    .contact{
        flex-direction: column;
    }
    .contactSub{
        flex-direction: column;
    }
    .contactSub img{
        width:80%;
        height: 90%;

    }
    .hoverpic{
        display: none;

    }
    
}

