*{
    margin: 0;
    box-sizing: border-box;
   
}


header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left:3rem;
    padding-right:3rem;
    background-color: black;
    margin-top: 1rem;
    width: 98vw;
   
}
ul{
    display: flex;
    list-style-type: none;
}
a{
    margin: 1rem;
    text-decoration: none;
    font-family: Open Sans;
    font-size: 0.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 175%; /* 28px */
    letter-spacing: 0.64px;
    color: #fff;
}
 header p{
    text-align: center;
    font-family: Cormorant Upright;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 57.2px */
    letter-spacing:0.11rem;
    text-transform: uppercase;
    color: #fff;
    /* padding-left: 20px; */
 }
 .frame{
    display: flex;

 }
 .frame svg{
    margin: 0 0.625rem;
 }