.photogallery{
    /* display: flex;
    align-items: start;
    justify-content: start; */
    height: 60vh;
    width: 98vw;
    background: url(./images/Mask\ Group.png) repeat ;
    background-color: grey;
    background-blend-mode: multiply;
    padding: 3rem 0;
}
.photos{
    display: flex;
    column-gap: 0.6rem;
}
.photos img{
    height: 22rem;
    width: 12rem;

}
.photodiv{
    display: flex;
    align-items: start;
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
   
}
.photodiv button{
    display: flex;
padding: 0.4rem 1.3rem;
flex-direction: column;
justify-content: center;
align-items: center;
background: var(--DCCA87, #DCCA87);
color: var(--0C0C0C, #0C0C0C);
/* Button */
font-family: 'Cormorant Upright';
font-size: 0.8rem;
font-style: normal;
font-weight: 700;
line-height: 175%; /* 1.75rem */
letter-spacing: 0.04rem;
}
.photodiv .whatwebelieve{
    font-size: 2.2rem;
    font-weight: 500;
}
.photodiv .about2{
    /* border: 1px solid white; */
    width: 19rem;
}
.photogallerywords{
    margin:0 5rem;
    margin-right: 4rem;
    padding-top: 5rem;
}